@tailwind base;
@tailwind components;
@tailwind utilities;

/* .modal {
    @apply bg-transparent text-[inherit] duration-200 ease-out;
    transition-property: transform, opacity, visibility;
    overflow-y: hidden;
    overscroll-behavior: contain;
    &:not(dialog:not(.modal-open)),
    &::backdrop {
        background-color: #0006;
        animation: modal-pop 0.2s ease-out;
    }
}
.modal-backdrop {
    @apply -z-[1] col-start-1 row-start-1 grid self-stretch justify-self-stretch text-transparent;
}
.modal-box {
    @apply bg-black col-start-1 row-start-1 w-11/12 max-w-lg scale-90 transform p-6 transition duration-200 ease-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    overflow-y: auto;
    overscroll-behavior: contain;
}
.modal-open .modal-box,
.modal-toggle:checked + .modal .modal-box,
.modal:target .modal-box,
.modal[open] .modal-box {
    @apply translate-y-0 scale-100;
}
.modal-action {
    @apply mt-6 justify-end space-x-2;
}
@keyframes modal-pop {
    0% {
        opacity: 0;
    }
} */

:root {
    --modal-overflow-behav: scroll;
    overflow-y: var(--modal-overflow-behav);
    --progress-color: white;
}

.modal {
    /* @apply pointer-events-none invisible fixed inset-0 flex justify-center opacity-0; */
    @apply pointer-events-none fixed inset-0 m-0 grid h-full max-h-none w-full max-w-none justify-items-center p-0 opacity-0;
    overscroll-behavior: contain;
    z-index: 999;
}
.modal-scroll {
    overscroll-behavior: auto;
}
:where(.modal) {
    @apply items-center;
}
.modal-box {
    max-height: calc(100vh - 5em);
}
.modal-open,
.modal:target,
.modal-toggle:checked + .modal,
.modal[open] {
    @apply pointer-events-auto visible opacity-100;
}
.modal-action {
    @apply flex;
}
.modal-toggle {
    @apply fixed h-0 w-0 appearance-none opacity-0;
}
:root:has(
        :is(
                .modal-open,
                .modal:target,
                .modal-toggle:checked + .modal,
                .modal[open]
            )
    ) {
    @apply overflow-hidden;
}

/* Modal animations */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* 
.modal-bg-enter {
    animation: fade-in 250ms 1;
}
.modal-bg-exit {
    animation: fade-out 250ms 1;
} */

.fade-in {
    animation: fade-in 500ms 1;
}

.progress {
    background-image: repeating-linear-gradient(
        90deg,
        rgb(139 92 246) -1%,
        rgb(139 92 246) 10%,
        transparent 10%,
        transparent 90%
    );
    background-size: 200%;
    background-position-x: 15%;
    animation: progress-loading 5s ease-in-out infinite;
}

@keyframes progress-loading {
    50% {
        background-position-x: -115%;
    }
}
